<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Page</title>
</head>
<body>
    <h1><a href="/topic">ServerSide JavaScript</a></h1>

    <article>
        <form method="POST" action="/topic/add">
            <table>
                <tr>
                    <td><label>Title</label></td>
                    <td><input type="text" name="title" value="<%= topics.title %>" placeholder="Title" /></td>
                </tr>
                <tr>
                    <td><label>Desc.</label></td>
                    <td><textarea name='description' rows="6" cols="50" value="<%= topics.description %>" placeholder="description"></textarea>></td>
                </tr>
                <tr>
                    <td><label>Author</label></td>
                    <td><input type="text" name="author" value="<%= topics.author %>" placeholder="Author" /></td>
                </tr>
            </table>
            <input type="submit" />
        </form>
        <ul>
            <li><a href="/topic/add">add</a></li>
        </ul>
    </article>

    <ol>
        <% for (i=0; i<topics.length; i++) { %>
            <li>
                <a href="/topic/<%= topics[i].id %>"><%= topics[i].title %> </a>
                <!-- :  <%= topics[i].description %> -->
            </li>
            <% } %>
    </ol>
    
</body>
</html>